@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Non-dashboard-layout.cshtml";

    ViewData["Title"] = "Forgot your password?";
}


<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <img src="@Url.Content("~/Content/vendor/img/dpr.png")" style="display:block;width:100px" />
                    <h1>iVisit-NG</h1>
                    <h2>Department of Petroleum Resources</h2>
                    <p>Visitors Management System for Department of Petroleum Resources (DPR).</p>
                </div>
                <div class="col-md-4 col-md-offset-1">

                    <form asp-action="ForgotPassword" method="post" id="contactForm">

                        <h2>@ViewData["Title"]</h2>
                        <p>Enter your email.</p>

                        <div asp-validation-summary="All" class="text-danger alert-danger"></div>

                        <div class="form-group">
                            <!-- <label asp-for="Email"></label> -->
                            <input asp-for="Email" class="form-control input-lg" placeholder="Enter your email address" id="password" required data-validation-required-message="Please enter your Email Address." />
                            <!-- <span asp-validation-for="Email" class="text-danger"></span> -->
                        </div>
                        
                        <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
                        
                    </form>

                </div>
            </div>
            <div class="text-center copyright-txt login-footer">
                <small>BrandOne Technologies Limited - Copyright © 2018</small>
            </div>

        </div>
    </div>

</header>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
